@model Models.Course
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course-Entry</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-3">
         
    </div>
    
    <form method="POST" class="col-md-6">
        <h1>Set up Course</h1>
        <div class="form-group">
            <label>Organization :</label>
           @Html.DropDownListFor(c=>c.OrganizationId,Model.organizationSlItems,htmlAttributes:new{@class="form-control"})
        </div>
        
        <div class="form-group">
            <label>Name :</label>
            <input type="text" name="Name" class="form-control" />
        </div>
        
        <div class="form-group">
            <label>Code :</label>
            <input type="text" name="Code" class="form-control" />
        </div>
        
        <div class="form-group">
            <label>Course Duration (hrs) :</label>
            <input type="text" name="Duration" class="form-control" />
        </div>
        
        <div class="form-group">
            <label>Credit :</label>
            <input type="text" name="Credit" class="form-control" />
        </div>
        
        <div class="form-group">
            <label>Outline :</label>
            <textarea class="form-control" name="Outline" rows="5"></textarea>
        </div>
        
        <div class="form-group">
            <input type="submit" name="submit" value="Save" class="btn btn-info" />

        </div>

    </form>
    
    <div class="col-md-3">

    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
